#header1:hover{
    color:blue;  
    background-color: grey; 
    font-family:Arial, Helvetica, sans-serif
}
h2{
    color:red;
    background-color: HSL(155,24%,75%);
    border: 2px solid currentColor;
    
}
a:hover{
    color:purple;
    background-color: black;

}
#middle{
    display:inline;
}